.mainBox {
  background-color: #fbfbfb;
  padding: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.avImg {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.coma {
  width: 51px;
  margin-bottom: 140px;
  object-fit: contain;
}
.rtl {
  left: 15px;
}
.ltr {
  right: 15px;
}
.arrow {
  position: absolute;
  right: 0;
  right: 0px;
  top: 30%;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
}
@media screen and (max-width: 767px) {
  .rev {
    flex-direction: row-reverse;
  }
}
