.mainBox {
  background-color: #FBFBFB;
  padding: 14px;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.avImg {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.coma {
  position: absolute;
  top: -100px;
  left: 4px;
  width: 81px;
  height: 180px;
  object-fit: contain;
  vertical-align: baseline;
}
.arrow {
  position: absolute;
  right: 0;
  right: 0px;
 
  top: 30%;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
}
