.mainContainer {
  border-bottom: 1px solid gray;
}
.border::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -18px;
  width: 1px;
  height: calc(100% + 10px);
  background-color: gray;
}

@media screen and (max-width: 767px) {
  .border::before {
    opacity: 0;
  }
}
