.mainContainer {
  border: 1px solid #ccc;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.small {
  width: 330px !important;
}
.big {
  width: 430px !important;
}
@media screen and (max-width: 767px) {
  .small {
    width: 300px !important;
  }
}
@media screen and (max-width: 767px) {
  .big {
    width: 300px !important;
  }
}
@media screen and (max-width: 1100px) {
  .transform {
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
  }
}
.mainContainer:hover {
  border: 1px solid var(--darkGreen);
}
.bgImg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 180px;
  object-fit: contain;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.show {
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.title {
  font-weight: bolder !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.mainContainer:hover .title {
  color: #003684 !important;
}
