.mainCaontainer {
  border: 1px solid #dcdcdc;
  box-shadow: 0px 6px 5px #00000012;
  border-radius: 18px;
  background-color: #ffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.mainImg {
  width: 60px;
  height: 70px;
  object-fit: cover;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.timer {
  width: 13px;
  height: 13px;
  object-fit: cover;
}
