.btn {
  background-color: transparent !important;
  border: none;
  padding: 7px 10px;
  border-radius: 25px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.arrowContainer {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn:hover {
  background-color: var(--gradientBackground) !important;
  color: white !important;
  justify-content: space-evenly;

  text-align: center !important;
}
.btn:hover .arrowContainer {
  background-color: transparent;
}
.btn:hover .text {
  margin-left: 8px;
}
