.mainContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #003684;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .statContainer {
    width: 100%;
    white-space: nowrap;
    animation: scrollHeader 20s linear infinite;
  }
}
@keyframes scrollHeader {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Translate by the full width to create a continuous effect */
  }
}
