.btn {
  width: 100%;
  padding: 7px 15px;
  color: white;
  border: none;
  background-color: #003684;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beniftsContainer {
  border-bottom: 1px solid #afafaf;
}
.others {
  border-top: 1px solid #afafaf;
}
.border {
  border: 1px solid #ddd;
}
