.mainContainer {
  border: 1px solid #dcdcdc;
  box-shadow: 0px 17px 20px #00000012;
  border-radius: 18px;
  height: 400px;
  overflow-y: scroll;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.border {
  border-bottom: 1px solid #dcdcdc;
}
.answerContainer .msgsContainer {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.msgsContainer {
  border: 1px solid #d9e9ff;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.answerContainer {
  border: 1px solid #0ab46e;
  background-color: #e8fff3;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.avatar {
  width: 49px;
  height: 49px;
  object-fit: cover;
}
.input {
  border: none;
  padding: 7px 15px;
  width: 100%;
  background-color: #f4f7fc !important;
  border-radius: 25px;
  caret-color: var(--whiteGreen);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.input:focus {
  outline: none;
}
