.mainContainer {
  box-shadow: 0px 17px 20px #00000012;
  border: 1px solid #dcdcdc;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #03e986, #089759);
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .imgContainer {
    width: 50px !important;
    height: 50px !important;
  }
}
.mainImg {
  width: 84px;
  height: 84px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .mainImg {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.title {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}
.width {
  width: 70% !important;
}
@media screen and (max-width: 767px) {
  .width {
    width: 100% !important;
  }
}
