.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 26px;
  height: 90px;
  width: 80%;
  background: linear-gradient(to bottom right, #0ea564, #13005a);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.img {
  width: 54px;
  height: 63px;
  object-fit: cover;
}
.downloadText {
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .downloadText {
    font-size: 18px;
  }
}
