.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;
  height: 50px;
  width: 80% !important;
  background: linear-gradient(to bottom right, #0ea564, #13005a);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
@media screen and (max-width: 767px) {
  .btn {
    width: 100% !important;
  }
}
.img {
  width: 54px;
  height: 33px;
  object-fit: contain;
}
