.mainContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 14px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.btn {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  background-color: #003684;
  border-radius: 26px;
  color: white;
  border: none;
  width: fit-content;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
