.border {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #afafaf;
  height: 38px;
}

.dark {
  background-color: #d1d1d1;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 5px;
  padding: 7px;
  background-color: #003684;
  height: 30px;
  border: none;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.greenBorder {
  border: 2px solid #0ea564;
}
.bgGreen {
  background-color: #0ea564;
  color: white;
}
