.successContainer {
  background-color: #e2fff3;
  border-radius: 18px;
  box-shadow: 0px 17px 20px #00000012;
  border: 1px solid #dcdcdc;
  margin: 20px auto !important;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 11px;
  padding: 7px;
  background-color: #003684;
  height: 53px;
  border: none;
  width: 205px;
  font-size: 20px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
