.mainContainer {
  box-shadow: 0px 17px 20px #00000012;
  border: 1px solid #dcdcdc;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.name,
.customerService {
  color: #003684 !important;
}
/* .desc {
  font-size: 13px;
} */
