.mainContainer {
  background-color: #f5f9ff;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 17px 20px #00000012;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.inpContainer {
  position: relative;
}
.btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
  background-color: #003684;
  padding: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btnTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  background-color: #003684;
  border-radius: 26px;
  color: white;
  border: none;
  width: 80%;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.op {
  opacity: 0.5;
}
