.mainContainer {
  width: 100%;
  background-color: #f4f7fc;
  border: 1px solid #c8c8c8;
  border-radius: 29px;
}
.text30 {
  font-size: 30px;
}

.modal {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.show {
  display: block;
  opacity: 1;
}
.hide {
  display: none;
  opacity: 0;
}
.w90 {
  width: 90% !important;
}
@media screen and (max-width: 767px) {
  .w90 {
    width: 100% !important;
  }
}
.btn {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  background-color: #003684;
  border-radius: 26px;
  color: white;
  border: none;
  width: fit-content;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.btnTwo {
  min-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  background-color: #003684;
  border-radius: 26px;
  color: white;
  border: none;
  width: fit-content;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
