.mainDiv {
  background-image: url("../../../assets/hhh.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: center;
}

.mainDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(0, 3, 43, 0.6),
    rgba(19, 0, 90, 0.7)
  );
  z-index: 3;
}
.chartsImg {
  width: 95%;
  height: 270px;
  position: relative;
  top: 80px;
  left: 50px;
  object-fit: contain !important;
}
.text {
  z-index: 22 !important;
}

.box {
  width: 100%;
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(6, 13, 10, 0.4) 20%,
    #012456 50%,
    rgba(11, 48, 101, 1) 100%
  );
  box-shadow: 0px 8px 6px #00000029;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  z-index: 25 !important;
  overflow: hidden !important;
}

.prochartImg {
  width: 100%;
  height: 350px;

  object-fit: cover;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
.videoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  color: var(--whiteGreen);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.desc {
  opacity: 0.6;
}
.btn {
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.btn:hover {
  background-color: #003684;
}
.arrowContainer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: #003684;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn:hover .arrowContainer {
  background-color: transparent;
}
.box2 {
  z-index: 8;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box2:focus {
  outline: none;
}
.btn2 {
  background-color: #003684;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;
  border: none;
  padding: 7px !important;
  width: 130px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dealsBox {
  background: linear-gradient(
    to bottom right,
    rgba(11, 48, 101, 1) 30%,

    rgba(1, 36, 86, 1) 100%
  );
}
.reco {
  opacity: 1;
  z-index: 50 !important;
}
.calender {
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.inp {
  border: none;
}
.inp:focus {
  outline: none;
}
.videoContainer {
  width: 600px;
  height: 300px;
}
