.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 55555555;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorful {
  width: 24.6px;
  height: 24.6px;
  border-radius: 50%;
  background: #474bff;
  animation: colorful-o7soaomd 1.5s infinite linear;
}

@keyframes colorful-o7soaomd {
  0% {
    box-shadow: 0 -33.6px #35e79e,
      calc(33.6px * 0.707) calc(-33.6px * 0.707) #00032b, 33.6px 0 #35e79e,
      0 0 #00032b, 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b;
  }

  12.5% {
    box-shadow: 0 0 #35e79e, calc(33.6px * 0.707) calc(-33.6px * 0.707) #00032b,
      33.6px 0 #35e79e, calc(33.6px * 0.707) calc(33.6px * 0.707) #00032b,
      0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b;
  }

  25% {
    box-shadow: 0 0 #35e79e, 0 0 #00032b, 33.6px 0 #35e79e,
      calc(33.6px * 0.707) calc(33.6px * 0.707) #00032b, 0 33.6px #35e79e,
      0 0 #00032b, 0 0 #35e79e, 0 0 #00032b;
  }

  37.5% {
    box-shadow: 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e,
      calc(33.6px * 0.707) calc(33.6px * 0.707) #00032b, 0 33.6px #35e79e,
      calc(-33.6px * 0.707) calc(33.6px * 0.707) #00032b, 0 0 #35e79e,
      0 0 #00032b;
  }

  50% {
    box-shadow: 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b,
      0 33.6px #35e79e, calc(-33.6px * 0.707) calc(33.6px * 0.707) #00032b,
      -33.6px 0 #35e79e, 0 0 #00032b;
  }

  62.5% {
    box-shadow: 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e,
      calc(-33.6px * 0.707) calc(33.6px * 0.707) #00032b, -33.6px 0 #35e79e,
      calc(-33.6px * 0.707) calc(-33.6px * 0.707) #00032b;
  }

  75% {
    box-shadow: 0 -33.6px #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b,
      0 0 #35e79e, 0 0 #00032b, -33.6px 0 #35e79e,
      calc(-33.6px * 0.707) calc(-33.6px * 0.707) #00032b;
  }

  87.5% {
    box-shadow: 0 -33.6px #35e79e,
      calc(33.6px * 0.707) calc(-33.6px * 0.707) #00032b, 0 0 #35e79e,
      0 0 #00032b, 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e,
      calc(-33.6px * 0.707) calc(-33.6px * 0.707) #00032b;
  }

  100% {
    box-shadow: 0 -33.6px #35e79e,
      calc(33.6px * 0.707) calc(-33.6px * 0.707) #00032b, 33.6px 0 #35e79e,
      0 0 #00032b, 0 0 #35e79e, 0 0 #00032b, 0 0 #35e79e, 0 0 #00032b;
  }
}
