.mainContainer {
  background: linear-gradient(
    to right bottom,
    rgba(0, 203, 120, 0.8) 30%,
    rgba(0, 30, 72, 0.9) 70%,
    rgba(0, 29, 109, 1) 100%
  );
  height: 180px;
  width: 90%;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.btn {
  border: none;
  padding: 7px 15px;
  background-color: #0ea564;
  color: white;
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
