.mainContainer {
  background: linear-gradient(
    to right bottom,
    rgba(0, 203, 120, 0.8) 30%,
    rgba(0, 30, 72, 0.9) 70%,
    rgba(0, 29, 109, 1) 100%
  );
  padding: 26px;
  height: 180px;
  width: 80%;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.btn {
  border: none;
  padding: 11px;
  background-color: #0ea564;
  color: white;
  height: 53px;
  width: 172px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
