.mainContainer {
  background: linear-gradient(
    to bottom right,
    rgba(9, 16, 104, 0.8),
    rgba(19, 0, 90, 0.85)
  );
  min-width: 200px;
  height: 220px;
  max-width: 90%;
  text-align: center;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.contactImg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
