.mainContainer {
  background: linear-gradient(
    to bottom right,
    rgba(9, 16, 104, 0.8),
    rgba(19, 0, 90, 0.85)
  );
  min-width: 200px;
  max-width: 80%;
  text-align: center;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.paperIcon {
  color: #acbcd8;
}
