.title {
  text-transform: uppercase;
  color: var(--whiteGreen) !important;
}

.bigTitle {
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .bigTitle {
    font-size: 35px;
  }
}
.smallTitle {
  font-size: 27px;
}
@media screen and (max-width: 767px) {
  .smallTitle {
    font-size: 25px;
  }
}
