.mainContainer {
  border-right: 1px solid #dcdcdc;
  border-radius: 22px;
}
@media screen and (max-width: 800px) {
  .mainContainer {
    border-right: none;
  }
}
.icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-top: 5px;
}
.day {
  text-align: center;
}
