.mainContainer {
  width: 320px;
  border-radius: 18px;
  position: relative;
  z-index: 8888 !important;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.mainContainer:before {
  content: "";
  position: absolute;
  bottom: -80px;

  left: 0;
  width: 100%;
  background-color: #003684;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.mainContainer:first-of-type::before {
  height: 50%;
}
.mainContainer:nth-of-type(2)::before {
  height: 75%;
}
.mainContainer:nth-of-type(3)::before {
  height: calc(100% + 90px);
}
.secondContainer {
  padding: 7px 15px;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 9;
  border: 1px solid #dedede;
  background-color: white;
  position: relative;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.cardName {
  left: 0;
  position: absolute;
  color: #dedede;
  letter-spacing: 10px;
  bottom: 80px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.mainContainer:nth-of-type(2) .cardName {
  left: -50px !important;
}

.mainContainer:hover .cardName {
  color: #003684;
}
.account {
  color: #1c257c;
}
.title {
  position: relative;
  top: 2px;
}
.intro {
  color: #2d2d2d !important;
}
.icon {
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.btn {
  position: absolute;
  color: white !important;
  bottom: -60px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 8px;
  background-color: #0d53b8 !important;
  z-index: 55 !important;
  width: 200px;
  height: 40px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
