.titleContainer {
  border-bottom: 1px solid #707070;
}
.reg {
  font-weight: bold;
  color: #003684 !important ;
  text-align: center;
}

.inpWidth {
  width: 50% !important;
}
@media screen and (max-width: 767px) {
  .inpWidth {
    width: 100% !important;
  }
}
.btn {
  width: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  background-color: #003684;
  border-radius: 26px;
  color: white;
  border: none;
  width: fit-content;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
@media screen and (max-width: 767px) {
  .btn {
    width: 100% !important;
  }
}
