.firstContainer {
  border: 1px solid #dbdbdb;
  overflow-x: hidden !important;
}
@media screen and (max-width: 700px) {
  .firstContainer {
    border: none;
  }
}
.socialContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socialContainer:hover {
  transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
}
.copyContainer {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  width: 100vw;
}
.copyLink {
  font-size: 12px;
  color: #00311c !important ;
}
.bg {
  background-color: #f5f5f5;
  padding: 8px;
  display: flex;
  width: 150px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.border {
  position: relative;
}
.border::before {
  content: "";
  position: absolute;
  top: 50%;

  background-color: #f5f5f5;

  height: 1px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.rtlStyle::before {
  width: 130%;
  right: 135px;
}
.ltrStyle::before {
  width: 130%;
  left: 135px;
}

@media screen and (max-width: 767px) {
  .border::before {
    display: none;
  }
}

.phoneImg {
  width: 23px !important;
  height: 23px !important;
  object-fit: cover !important;
}
.logo {
  width: 87px;
  height: 36px;
  object-fit: contain;
}
.socialContainer:hover .face {
  color: #1877f2;
}
.socialContainer:hover .twitter {
  color: #1da1f2;
}
.socialContainer:hover .linked {
  color: #0a66c2;
}
.socialContainer:hover .insta {
  color: #e1306c;
}
.socialContainer:hover .youtube {
  color: #ff0000;
}
.socialContainer:hover .snap {
  color: #fffc00;
}
.socialContainer:hover .tiktok {
  color: #404040;
}
.whats {
  color: var(--darkGreen) !important;
}
