.textContainer {
  background-color: #e8fff3;
  box-shadow: 1px 5px 9px #0000001a;
  border: 1px solid #ffffff;
  border-radius: 37px;
  width: 90%;
  margin: 35px auto !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
.client {
  position: relative;
}

.span {
  width: 15px;
  height: 15px;
  border: 1px solid var(--darkGreen);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.active {
  background-color: var(--whiteGreen);
}

.mobOne {
  height: 500px;
  width: 427px;
}

.mobTwo {
  width: 313px;
  height: 400px;
}
.mobOne,
.mobTwo {
  object-fit: contain;
}
@media screen and (max-width: 650px) {
  .mobOne {
    width: 330px;
  }
  .mobTwo {
    width: 280px;
  }
}
.img {
  width: 80%;
  height: 300px;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .img {
    width: 320px;
    height: 320px;
    object-fit: contain;
  }
}
