/* public styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body {
  overflow-x: hidden !important;
  font-family: "Tajawal", sans-serif;
  text-transform: capitalize !important;
}
html {
  text-transform: capitalize !important;
  font-family: "Tajawal", sans-serif;
}
a {
  text-decoration: none !important;
  color: black !important;
}
ul {
  list-style-type: none;
}
/* global variables */
:root {
  --backgroundColor: #00032b;
  --darkGreen: #0ab46e;
  --whiteGreen: #35e79e;
  --gradientBackground: #003684;
}

/* utility classes */
.fs {
  font-size: 10px;
}
.fs2 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs18 {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .fs18 {
    font-size: 14px;
  }
}
.fs20 {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .fs20 {
    font-size: 16px;
  }
}
.fs22 {
  font-size: 22px !important;
}
@media screen and (max-width: 767px) {
  .fs22 {
    font-size: 16px;
  }
}
.fs24 {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .fs24 {
    font-size: 18px;
  }
}
.fs26 {
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .fs26 {
    font-size: 20px;
  }
}
.fs28 {
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .fs28 {
    font-size: 20px;
  }
}
.fs30 {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .fs30 {
    font-size: 22px;
  }
}
.fs36 {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .fs36 {
    font-size: 28px;
  }
}
.fs42 {
  font-size: 42px;
}
@media screen and (max-width: 767px) {
  .fs42 {
    font-size: 26px;
  }
}
.fs48 {
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .fs48 {
    font-size: 40px;
  }
}
.fs52 {
  font-size: 52px;
}
@media screen and (max-width: 767px) {
  .fs52 {
    font-size: 46px;
  }
}
.fs60 {
  font-size: 60px;
}
@media screen and (max-width: 767px) {
  .fs60 {
    font-size: 50px;
  }
}
.green {
  color: var(--darkGreen);
}
.whiteGreen {
  color: var(--whiteGreen);
}
.red {
  color: #ff1e1e;
}
.lh {
  line-height: 2;
}
.pr {
  padding-right: 80px;
}
@media screen and (max-width: 650px) {
  .pr {
    padding-right: 20px;
  }
}
.pl {
  padding-left: 80px;
}
@media screen and (max-width: 650px) {
  .pl {
    padding-right: 20px;
  }
}
.pointer {
  cursor: pointer;
}
.dark {
  color: #00311c;
}
.inp,
.area {
  width: 100%;
  border: 1px solid #afafaf;

  padding: 7px 15px;
}
.inp {
  height: 40px;
}
.inp::placeholder {
  font-weight: bold;
  color: #5d5d5d;
  font-size: 12px;
}
.area {
  height: 220px;
}
.inp:focus,
.area:focus {
  outline: none;
}
.mt200 {
  margin-top: 200px;
}
.mt80 {
  margin-top: 70px;
}
.mt100,
.mt-100 {
  margin-top: 130px;
}
@media screen and (max-width: 767px) {
  .mt-100 {
    margin-top: 25px;
  }
}
.mt101 {
  margin-top: 130px;
}
@media screen and (max-width: 767px) {
  .mt101 {
    margin-top: 30px;
  }
}
.mt300 {
  margin-top: 150px;
}
.gap10 {
  gap: 65px;
}
.mainInfo {
  box-shadow: 0px 17px 20px #00000012;
  border: 1px solid #dcdcdc;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.error {
  font-size: 13px;
  color: red;
}
.frame {
  width: 100%;
  height: 100%;
}
.custom-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 17px 20px #00000012;
  border: 1px solid #dcdcdc;
  border-radius: 22px;
  padding-bottom: 10px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.table-header {
  display: flex;

  font-weight: bold;
  border-bottom: 1px solid white;
}
.table-row {
  display: flex;
}
.table-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.table-cell {
  flex: 1;
  padding: 8px;
  text-align: center;
  color: black !important;
}
.table-cell.header {
  color: var(--darkGreen) !important;
}
@media (max-width: 600px) {
  .custom-table {
    flex-direction: column;
  }

  .table-row {
    flex-direction: column;
  }

  .table-header {
    display: none;
  }
}
.customLink {
  font-size: 10px;
  text-transform: lowercase !important;
}
.customBtn {
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid #00032b;
  color: #00032b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dealsLink {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  border: 1px solid #00032b;
  color: #00032b;
  width: fit-content;
  cursor: pointer;
}
.otp-input {
  width: 60px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0 5px;
  text-align: center;
}
.otp-input:focus {
  outline: none;
  border-color: #0ab46e;
}
/* drop down bootstrap */
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  text-align: start !important;
}
/* react swiper */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-top: 25px !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: var(--whiteGreen) !important;
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #1c86c0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  color: #1c86c0;
}
