.questionContainer {
  border-bottom: 1px solid #c8c8c8;
}
.active {
  color: var(--darkGreen);
  width: fit-content;
  position: relative;
}
.active:before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--darkGreen);
}
.whyTitle {
  font-size: 18px;
}
@media screen and (max-width : 767px) {
  .whyTitle {
    font-size: 13px;
  }
}