.mainDiv {
  background-color: #f4f7fc;
  position: relative;
  overflow: hidden;
}
/* .headerContainer {
  width: 100%;
  white-space: nowrap;
  animation: scrollHeader 20s linear infinite;
  border-bottom: 1px solid #cccc;
} */

.link {
  font-size: 13px;
  display: inline-block !important;
  text-align: center;
  padding: 14px !important;
  margin: 0 15px !important;
  text-decoration: none;
  font-family: "FF Shamel Family";
}
.link:hover {
  color: #003684 !important;
}
.active {
  color: #003684 !important;
  position: relative;
  font-family: "Shamel";
}
.active::before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  height: 3px;
  background-color: #003684;
  width: 100%;
}
.menu {
  text-align: center;
  padding: 15px;

  overflow: auto;
  white-space: nowrap;
}
