.headerContainer {
  border-bottom: 1px solid #cccc;
}
.link {
  font-weight: 1000;
  font-size: 13px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  position: relative;
}
.link:hover {
  color: #003684 !important;
}
.active {
  color: #003684 !important;
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  height: 3px;
  background-color: #003684;
  width: 100%;
}
